body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 50px;
}

.logo-wrapper {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

.logo-image{
  height: auto;
  width: 500px;
}

.logo-text {
  font-size: 100px;
}


.content-container{
  padding-top:50px;
  padding-left: 20px;
  padding-right: 20px;
  /* 18px for footer + 20 default */
  padding-bottom: 38px;
}

.background-bar{
  background-color: #333;
}

.highlight-color{
  color: #04AA6D;
}

.core-popup{
  border-radius: 30px;
  background-color: #f2f2f2;
  padding: 20px;
}

.navigation-bar{
  position: fixed;
  top:0;
  width: 100%;
  height: 50px;
}

.nav-bar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-bar-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  width: 120px;
  text-decoration: none;
}

.nav-bar-username{
  color: white;
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}

.select-label {
  /* padding-left: 12px; */
  margin-bottom: 20px;
}

.nav-left-aligned {
  float: left;
  border-right:1px solid #bbb;
}

.nav-right-aligned{
  float: right;
  border-left:1px solid #bbb;
}

.nav-bar-list:last-child {
  border-right: none;
}

.nav-bar-link:hover:not(.active) {
  background-color: #111;
}

.account-control {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}

.account-control span{
  color: white;
  padding-left: 10px ;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 18px;
  color: white;
  text-align: center;
}

.logout-button {
  background: none!important;
  border: none;
  padding: 0!important;
  margin-left: 10px;
}

.active {
  background-color: #04AA6D;
}


.core-select-container {
  display: inline-block;
  width: 100%;
  font-size: 22px;
  margin: 8px 0;
  box-sizing: border-box;
}

.core-select-container select {
  font-size: 22px;
  width: 100%;
  height: 52px;
}